
body {
    font: 20px arial, sans-sarif;
    
}
.navbar {
    background-color: lightgray;
}

.quem-somos {
    background-color:white;
    color: blue;
}

.margin{
    padding-top: 100;
    padding-bottom: 50px;
}

.parceiros{
    background: lightgoldenrodyellow;
    color: blue
}

.servicos {
    background: lightgrey;
    color: red;
}

.bg-footer {
    background-color: black;
    color: white;

}